$regular: 'Roboto';

$orange: #ef6522;
$white: #fff;
$black: #000;

$black-1: #5f5855;

body {
  font-family:$regular;
}
.place-container {
  margin-left: 300px;
  .nav-wrapper {
    border-bottom: 3px solid $orange;
    padding-right: 40px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .page-title {
      line-height: 120px;
      margin-left:50px;
      display: inline-block;
      font-size: 48px;
      color:$black-1;
    }
    .create-promo-open-button {
      margin-left: auto;
      background: $orange;
    }
  }
  .card {
    .card-content {
      .card-title {
        color:$black-1;
      }
      p {
        color: $black-1;
      }
    }
  }

}

.side-nav {
  background: $orange;
  .select {
    padding: 0 32px;
    color:$white;
    .select-wrapper span.caret {
      color:$white;
    }
    input {
      border-bottom-color:$white;
    }
    .dropdown-content li>a, .dropdown-content li>span {
      color:$orange;
    }
  }
  .brand-logo {
    &:hover {
      background: transparent;
    }
  }
  .logo {
    margin: 30px 0 20px;
  }
  li {
    a {
      color:$white;
    }
  }
}

.modal {

  h4 {
    margin-left: 20px;
    color:$orange;
    font-size: 20px;
  }

  .create-button {
    float: right;
    background: $orange;
    color:$white;
  }

  input,textarea {
    border-bottom-color:$orange;
  }
}


@media screen and (max-width: 992px){
  .place-container {
    margin-left: 0;
  }
}